{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Loro target API",
    "version": "1.0.0",
    "description": "Target API; consult current API for implemented operations. Draft operations/components are non-release contracts with explicit gates. Runtime refinements are documented in api-contracts.md."
  },
  "servers": [
    {
      "url": "https://api.loro.app/v1"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Liveness",
        "description": "No downstream check; health probes need no app headers.",
        "tags": [
          "health"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Liveness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/health_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "status": "ok",
                      "version": "0.0.0"
                    }
                  }
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "none",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 66,
        "x-loro-requirements": [
          "F-04"
        ]
      }
    },
    "/health/ready": {
      "get": {
        "operationId": "readiness",
        "summary": "Dependency readiness",
        "description": "Observe real dependencies only. 503 uses checks JSON; never report unavailable services as healthy.",
        "tags": [
          "health"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Dependency readiness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/readiness_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "status": "ok",
                      "checks": {
                        "content": "ok",
                        "merge": "ok"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "RFC 9457 problem; code selects recovery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/readiness_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "status": "degraded",
                      "checks": {
                        "content": "ok",
                        "merge": "unavailable"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "none",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 66,
        "x-loro-requirements": [
          "F-04"
        ]
      }
    },
    "/auth/apple": {
      "post": {
        "operationId": "authApple",
        "summary": "Sign in with Apple",
        "description": "No first-run sign-in requirement. Verify provider/email proof, then bind registered installation. anon_id is correlation only; never grants access to server rows. Preserve local data; merge requires full local push before success. No push token in v1.",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sign in with Apple",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "access_token": "illustrative-access-token",
                      "refresh_token": "illustrative-refresh-token",
                      "expires_in": 900,
                      "user": {
                        "id": "user_example",
                        "created_at": 1721558400123
                      },
                      "device_id": "device_example",
                      "claim": {
                        "performed": true,
                        "mode": "bind",
                        "claim_id": "claim_example",
                        "upload_required": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "none",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 67,
        "x-loro-requirements": [
          "F-01",
          "F-02",
          "F-07"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authApple_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "identity_token": "illustrative-provider-token",
                    "anon_id": "0197a001-0000-7000-8000-000000000001",
                    "device": {
                      "installation_id": "0197a001-0000-7000-8000-000000000001",
                      "platform": "ios",
                      "app_version": "1.0.0+1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/google": {
      "post": {
        "operationId": "authGoogle",
        "summary": "Sign in with Google",
        "description": "No first-run sign-in requirement. Verify provider/email proof, then bind registered installation. anon_id is correlation only; never grants access to server rows. Preserve local data; merge requires full local push before success. No push token in v1.",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sign in with Google",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "access_token": "illustrative-access-token",
                      "refresh_token": "illustrative-refresh-token",
                      "expires_in": 900,
                      "user": {
                        "id": "user_example",
                        "created_at": 1721558400123
                      },
                      "device_id": "device_example",
                      "claim": {
                        "performed": true,
                        "mode": "bind",
                        "claim_id": "claim_example",
                        "upload_required": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "none",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 67,
        "x-loro-requirements": [
          "F-01",
          "F-02",
          "F-07"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authApple_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "identity_token": "illustrative-provider-token",
                    "anon_id": "0197a001-0000-7000-8000-000000000001",
                    "device": {
                      "installation_id": "0197a001-0000-7000-8000-000000000001",
                      "platform": "ios",
                      "app_version": "1.0.0+1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/magic-link": {
      "post": {
        "operationId": "authMagicLink",
        "summary": "Request sign-in code",
        "description": "Always 202 for valid email regardless of existence; never enumerate accounts. Rate limit delivery.",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request sign-in code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authMagicLink_202"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "status": "accepted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "none",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 67,
        "x-loro-requirements": [
          "F-01",
          "F-02",
          "F-07"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authMagicLink_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "email": "learner@example.com"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/magic-link/verify": {
      "post": {
        "operationId": "authMagicVerify",
        "summary": "Verify sign-in code",
        "description": "No first-run sign-in requirement. Verify provider/email proof, then bind registered installation. anon_id is correlation only; never grants access to server rows. Preserve local data; merge requires full local push before success. No push token in v1.",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verify sign-in code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "access_token": "illustrative-access-token",
                      "refresh_token": "illustrative-refresh-token",
                      "expires_in": 900,
                      "user": {
                        "id": "user_example",
                        "created_at": 1721558400123
                      },
                      "device_id": "device_example",
                      "claim": {
                        "performed": true,
                        "mode": "bind",
                        "claim_id": "claim_example",
                        "upload_required": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "none",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 67,
        "x-loro-requirements": [
          "F-01",
          "F-02",
          "F-07"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authMagicVerify_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "email": "learner@example.com",
                    "code": "123456",
                    "anon_id": "0197a001-0000-7000-8000-000000000001",
                    "device": {
                      "installation_id": "0197a001-0000-7000-8000-000000000001",
                      "platform": "ios",
                      "app_version": "1.0.0+1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "authRefresh",
        "summary": "Rotate refresh token",
        "description": "Short-lived access; rotate refresh family. Reuse revokes family. Client single-flight refresh; never retry a consumed refresh blindly; re-auth retains outbox.",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rotate refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRefresh_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "access_token": "illustrative-access-token",
                      "refresh_token": "illustrative-refresh-token",
                      "expires_in": 900
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "none",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 67,
        "x-loro-requirements": [
          "F-01",
          "F-02",
          "F-07"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authRefresh_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "refresh_token": "illustrative-refresh-token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/claim": {
      "post": {
        "operationId": "authClaim",
        "summary": "Authenticated local-data claim",
        "description": "Require bearer and registered device ownership; device header/body must match. Account scope server-derived. Idempotent claim ID; retry interruption; do not consider merge complete before outbox acknowledgement.",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          },
          {
            "name": "X-Loro-Device",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authClaim_header_X_Loro_Device"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authClaim_header_Idempotency_Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated local-data claim",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authClaim_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "performed": true,
                      "mode": "bind",
                      "claim_id": "claim_example",
                      "upload_required": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "bearer",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 67,
        "x-loro-requirements": [
          "F-04"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authClaim_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "anon_id": "0197a001-0000-7000-8000-000000000001",
                    "device_id": "device_example",
                    "request_id": "0197a001-0000-7000-8000-000000000001"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sync/push": {
      "post": {
        "operationId": "syncPush",
        "summary": "Tenant-scoped background merge",
        "description": "500 ops/512KiB. Validate envelope then each op; rejection includes nullable seq and input index. Only accepted seqs ack; unknown fields rejected. Duplicate seqs after first rejected. Replay keyed by principal/device/seq; inconsistent payload for reused seq rejected. Rust owns HLC/merge; server never trusts user_id. Draft trip entities not enabled. Full FSRS group required. Metadata logs only.",
        "tags": [
          "sync"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          },
          {
            "name": "X-Loro-Device",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authClaim_header_X_Loro_Device"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant-scoped background merge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/syncPush_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "accepted": [],
                      "rejected": [],
                      "conflicts": [],
                      "server_hlc": "1721558400123:0007:device_1",
                      "server_time": 1721558400123
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "bearer",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 68,
        "x-loro-requirements": [
          "F-04"
        ],
        "x-loro-max-body-bytes": 524288,
        "requestBody": {
          "required": true,
          "description": "Envelope validated first; validate each item with SyncPushRequest/PushOp schema and return per-index failures.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/syncPush_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "client_hlc": "1721558400123:0007:device_1",
                    "ops": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sync/pull": {
      "post": {
        "operationId": "syncPull",
        "summary": "Tenant-scoped cursor page",
        "description": "since=null starts bootstrap. Opaque signed cursor bound to principal and ordered durable change position; not a bare HLC or row offset. Cursor needs unique entity tie-break on equal (hlc,id). Stale cursor returns CURSOR_EXPIRED; retain local state/outbox and bootstrap from null. SCHEMA_TOO_OLD is reserved for an unsupported app version. Apply page + cursor atomically via Rust; tombstone rows have empty fields and explicit deleted_at. No device/tenant leakage.",
        "tags": [
          "sync"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          },
          {
            "name": "X-Loro-Device",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authClaim_header_X_Loro_Device"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant-scoped cursor page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/syncPull_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "changes": [],
                      "next": "opaque_cursor_example",
                      "has_more": false,
                      "server_hlc": "1721558400123:0007:device_1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "bearer",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 68,
        "x-loro-requirements": [
          "F-04"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/syncPull_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "since": null,
                    "limit": 500
                  }
                }
              }
            }
          }
        }
      }
    },
    "/content/manifest": {
      "get": {
        "operationId": "contentManifest",
        "summary": "Versioned content manifest",
        "description": "Public immutable content data behind documented bearer boundary. ETag/max-age=3600; actual counts. Full catalog/resource descriptors carry checksum and size; CDN assets require no bearer token.",
        "tags": [
          "content"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/contentManifest_query_lang"
            }
          },
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/contentManifest_header_If_None_Match"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned content manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contentManifest_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "catalog_version": 0,
                      "lang": "es-ES",
                      "phrase_count": 0,
                      "packs": [],
                      "scenarios": [],
                      "audio_base": "https://cdn.loro.app/audio/",
                      "min_app_version": "1.0.0",
                      "resource_base": "https://cdn.loro.app/resources/",
                      "full_catalog": {
                        "uri": "sha256/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                        "sha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                        "bytes": 0
                      },
                      "resources": []
                    }
                  }
                }
              }
            },
            "headers": {
              "ETag": {
                "schema": {
                  "$ref": "#/components/schemas/contentManifest_200_ETag"
                }
              },
              "Cache-Control": {
                "schema": {
                  "$ref": "#/components/schemas/contentManifest_200_Cache_Control"
                }
              }
            }
          },
          "304": {
            "description": "No body; retain cached representation.",
            "headers": {
              "ETag": {
                "schema": {
                  "$ref": "#/components/schemas/contentManifest_200_ETag"
                }
              },
              "Cache-Control": {
                "schema": {
                  "$ref": "#/components/schemas/contentManifest_200_Cache_Control"
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "bearer",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 61,
        "x-loro-requirements": [
          "F-04"
        ]
      }
    },
    "/content/diff": {
      "get": {
        "operationId": "contentDiff",
        "summary": "Versioned catalog changes",
        "description": "from must be a whole integer. from>current rejected 422. History gap/oversize diff sets full_resync_required; client fetches manifest full_catalog once and verifies checksum before atomic replacement. Retain owned/deprecated references.",
        "tags": [
          "content"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/contentDiff_query_lang"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/contentDiff_query_from"
            }
          },
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned catalog changes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contentDiff_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "from": 0,
                      "to": 0,
                      "upserts": [],
                      "deprecations": [],
                      "full_resync_required": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "bearer",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 61,
        "x-loro-requirements": [
          "F-04"
        ]
      }
    },
    "/content/pack/{id}": {
      "get": {
        "operationId": "contentPack",
        "summary": "Versioned pack contents",
        "description": "Unknown pack NOT_FOUND. Membership/count/order and checksum agree; offline cached pack remains usable. Current query route needs migration, not silent replacement.",
        "tags": [
          "content"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/contentPack_query_lang"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authClaim_header_X_Loro_Device"
            }
          },
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/contentManifest_header_If_None_Match"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned pack contents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contentPack_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "id": "example",
                      "label": "Illustrative empty pack",
                      "promised_count": 0,
                      "phrases": [],
                      "catalog_version": 0
                    }
                  }
                }
              }
            },
            "headers": {
              "ETag": {
                "schema": {
                  "$ref": "#/components/schemas/contentManifest_200_ETag"
                }
              },
              "Cache-Control": {
                "schema": {
                  "$ref": "#/components/schemas/contentManifest_200_Cache_Control"
                }
              }
            }
          },
          "304": {
            "description": "No body; retain cached representation.",
            "headers": {
              "ETag": {
                "schema": {
                  "$ref": "#/components/schemas/contentManifest_200_ETag"
                }
              },
              "Cache-Control": {
                "schema": {
                  "$ref": "#/components/schemas/contentManifest_200_Cache_Control"
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "bearer",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 61,
        "x-loro-requirements": [
          "F-04"
        ]
      }
    },
    "/content/release/manifest": {
      "get": {
        "operationId": "contentReleaseManifest",
        "summary": "Signed immutable content-release manifest",
        "description": "Only publishes exact-material-approved releases. Resource bytes are fetched by content address without forwarding API credentials, verified on device, and atomically activated with the last good release retained on failure.",
        "tags": [
          "content"
        ],
        "security": [],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/contentReleaseManifest_query_lang"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed immutable content-release manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contentReleaseManifest_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "manifestVersion": 1,
                      "catalogVersion": 1,
                      "lang": "es-ES",
                      "phraseCount": 1,
                      "minAppVersion": "1.0.0",
                      "resources": [
                        {
                          "id": "catalog-es-ES",
                          "kind": "catalog",
                          "version": 1,
                          "uri": "sha256/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json",
                          "sha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                          "bytes": 1
                        }
                      ],
                      "signature": {
                        "algorithm": "ed25519",
                        "keyId": "release-1",
                        "value": "illustrative-signature"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "RFC 9457 problem; code selects recovery.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "RFC 9457 problem; code selects recovery.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "none",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 61,
        "x-loro-requirements": [
          "F-04",
          "AS-01"
        ]
      }
    },
    "/ai/scene": {
      "post": {
        "operationId": "aiScene",
        "summary": "Validated roleplay scene",
        "description": "Negotiated JSON or SSE. SSE event/data framing; optional started then exactly one completed/error; no unvalidated token fragments. Disconnect before terminal event means failure and bundled continuation, not a partial scene. No EventSource resume promise. Three-four turns, one best of three; cache/budget/provider fallback preserves explicit provenance. Trip adaptation remains Q-07 draft.",
        "tags": [
          "ai"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/aiScene_header_Accept"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validated roleplay scene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aiScene_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "scene_id": "scene_example",
                      "cached": false,
                      "fallback": true,
                      "scene": {
                        "place": "Café",
                        "city": "Madrid",
                        "emoji": "☕",
                        "role": "Camarero",
                        "turns": [
                          {
                            "npc": {
                              "es": "Un café, por favor.",
                              "en": "A coffee, please."
                            },
                            "options": [
                              {
                                "es": "Un café, por favor.",
                                "en": "A coffee, please.",
                                "best": true,
                                "tip": "A natural way to order."
                              },
                              {
                                "es": "¿Qué me recomienda?",
                                "en": "What do you recommend?",
                                "tip": "A useful question to ask."
                              },
                              {
                                "es": "¿Tienen leche?",
                                "en": "Do you have milk?",
                                "tip": "Ask about available milk."
                              }
                            ]
                          },
                          {
                            "npc": {
                              "es": "Un café, por favor.",
                              "en": "A coffee, please."
                            },
                            "options": [
                              {
                                "es": "Un café, por favor.",
                                "en": "A coffee, please.",
                                "best": true,
                                "tip": "A natural way to order."
                              },
                              {
                                "es": "¿Qué me recomienda?",
                                "en": "What do you recommend?",
                                "tip": "A useful question to ask."
                              },
                              {
                                "es": "¿Tienen leche?",
                                "en": "Do you have milk?",
                                "tip": "Ask about available milk."
                              }
                            ]
                          },
                          {
                            "npc": {
                              "es": "Un café, por favor.",
                              "en": "A coffee, please."
                            },
                            "options": [
                              {
                                "es": "Un café, por favor.",
                                "en": "A coffee, please.",
                                "best": true,
                                "tip": "A natural way to order."
                              },
                              {
                                "es": "¿Qué me recomienda?",
                                "en": "What do you recommend?",
                                "tip": "A useful question to ask."
                              },
                              {
                                "es": "¿Tienen leche?",
                                "en": "Do you have milk?",
                                "tip": "Ask about available milk."
                              }
                            ]
                          }
                        ],
                        "closer": {
                          "es": "Un café, por favor.",
                          "en": "A coffee, please."
                        }
                      },
                      "provenance": "bundled"
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/aiScene_200_events"
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "bearer",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 76,
        "x-loro-requirements": [
          "F-04"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/aiScene_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "theme": "Café",
                    "level": "some",
                    "tag_profile": {
                      "pron": 0,
                      "remember": 0,
                      "useful": 0,
                      "words": 0
                    },
                    "phrase_ids": [
                      "cafe1"
                    ],
                    "locale": "es-ES"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ai/themes": {
      "get": {
        "operationId": "aiThemes",
        "summary": "Available roleplay themes",
        "description": "Bundled local list on failure; no provider configuration exposed.",
        "tags": [
          "ai"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available roleplay themes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aiThemes_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "themes": [
                        "Café",
                        "Hotel"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "bearer",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 76,
        "x-loro-requirements": [
          "F-04"
        ]
      }
    },
    "/ai/coach": {
      "post": {
        "operationId": "aiCoach",
        "summary": "Coach a submitted text line",
        "description": "Untrusted text context only; validate scene/turn ownership. No transcript logging/shared personalized caching. If no validated note, show existing curated tip or omit.",
        "tags": [
          "ai"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coach a submitted text line",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aiCoach_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "status": "unavailable",
                      "reason": "provider_unavailable",
                      "provenance": "unavailable"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "402": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "403": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "404": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "409": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "422": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "429": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_Retry_After"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_429_X_RateLimit_Reset"
                }
              }
            }
          },
          "500": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          },
          "503": {
            "description": "Code selects client recovery; never render internal detail verbatim.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/authApple_401"
                }
              }
            }
          }
        },
        "x-loro-auth-boundary": "bearer",
        "x-loro-status": "planned",
        "x-loro-owner-plan": 76,
        "x-loro-requirements": [
          "F-04"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/aiCoach_request"
              },
              "examples": {
                "illustrative": {
                  "value": {
                    "scene_id": "scene_example",
                    "turn_index": 0,
                    "npc": {
                      "es": "Un café, por favor.",
                      "en": "A coffee, please."
                    },
                    "learner_text": "Un café, por favor.",
                    "locale": "es-ES"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ai/translate": {
      "post": {
        "operationId": "aiTranslate",
        "summary": "Optional reviewed translation",
        "description": "One indexed result per input, preserve text/order. Unknown or low confidence requires learner review; unavailable en=null. Confidence must be evidence-derived or null, never provider self-rating presented as calibrated. No automatic save.",
        "tags": [
          "ai"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Loro-App",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/authApple_header_X_Loro_App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Optional reviewed translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aiTranslate_200"
                },
                "examples": {
                  "illustrative": {
                    "value": {
                      "results": [
                        {
                          "status": "unavailable",
                          "index": 0,
[...]
